In [1]:
import pandas as pd
import numpy as np

import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

from math import comb

In [2]:
np.matrix([[1, 2], [3, 4]])

matrix([[1, 2],
        [3, 4]])

In [3]:
# Animal: Integer 1-5 representing which animal they would like to adopt
# Danger: List of Floats of 5 elements representing the relative danger of a different animal to the original 5
# Cats/Dogs/Birds/Fish/Mammals: Integer representing the number of animals of each type the owner currently possesses

def funx(animal, danger, cats, dogs, birds, fish, mammals, other):
    
    m = [
        [0.20, 0.20, 0.25, 0.01, 0.40, float(danger[0])],
        [0.20, 0.10, 0.20, 0.01, 0.30, float(danger[1])],
        [0.25, 0.20, 0.05, 0.01, 0.05, float(danger[2])],
        [0.01, 0.01, 0.01, 0.01, 0.01, float(danger[3])],
        [0.40, 0.30, 0.05, 0.01, 0.01, float(danger[4])]
        ]
    
    uwdanger = 0
    danger = 0

    totalpets = cats + dogs + birds + fish + mammals + other

    for n in range(totalpets):

        if n == 0:
            continue
        
        # The probability that n altercations occur
        for a1 in range(n+1):
            for a2 in range(n-a1+1):
                for a3 in range(n-a1-a2+1):
                    for a4 in range(n-a1-a2-a3+1):
                        for a5 in range(n-a1-a2-a3-a4+1):

                            # Altercation vector is [a1, a2, a3, a4, a5, a6]
                            a6 = n-a1-a2-a3-a4-a5
                            
                            # Probability alterations occur
                            p = (m[animal-1][0]) ** a1
                            p = (m[animal-1][0]) ** a1 * (m[animal-1][1]) ** a2 * (m[animal-1][2]) ** a3 * (m[animal-1][3]) ** a4 * (m[animal-1][4]) ** a5  * (m[animal-1][5]) ** a6
                            
                            # Probability no other altercations do
                            q = (1 - m[animal-1][0]) ** (cats - a1) * (1 - m[animal-1][1]) ** (dogs - a2) * (1 - m[animal-1][2]) ** (birds - a3) * (1 - m[animal-1][3]) ** (fish - a4) * (1 - m[animal-1][4]) ** (mammals - a5) * (1 - m[animal-1][5]) ** (other - a5)

                            # Number of combinations possible:
                            r = comb(cats, a1) * comb(dogs, a2) * comb(birds, a3) * comb(fish, a4) * comb(mammals, a5) * comb(other, a6)

                            # Weight
                            s = n

                            danger += p * q * r * s
                            uwdanger += p * q * r

    return([danger, uwdanger])

In [4]:
funx(1, [0,0,0,0,0], 3, 0, 0, 0, 0, 0)

[0.5760000000000002, 0.48000000000000015]

In [36]:
df = pd.read_csv("ahs2021n.csv")

dfpet = df[df["PETSHH"] == "'1'"][df["HINCP"] > 0][df["HHAGE"] > 0][(df["NUMYNGKIDS"] > 0) | (df["NUMOLDKIDS"] > 0) | (df["NUMADULTS"] > 0)][(df["TENURE"] == "'1'") | (df["TENURE"] == "'2'")][(df["HHMAR"] == "'1'") | (df["HHMAR"] == "'4'") | (df["HHMAR"] == "'5'") | (df["HHMAR"] == "'6'")]

C:\Users\thewa\AppData\Local\Temp\ipykernel_14512\601052058.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfpet = df[df["PETSHH"] == "'1'"][df["HINCP"] > 0][df["HHAGE"] > 0][(df["NUMYNGKIDS"] > 0) | (df["NUMOLDKIDS"] > 0) | (df["NUMADULTS"] > 0)][(df["TENURE"] == "'1'") | (df["TENURE"] == "'2'")][(df["HHMAR"] == "'1'") | (df["HHMAR"] == "'4'") | (df["HHMAR"] == "'5'") | (df["HHMAR"] == "'6'")]
C:\Users\thewa\AppData\Local\Temp\ipykernel_14512\601052058.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfpet = df[df["PETSHH"] == "'1'"][df["HINCP"] > 0][df["HHAGE"] > 0][(df["NUMYNGKIDS"] > 0) | (df["NUMOLDKIDS"] > 0) | (df["NUMADULTS"] > 0)][(df["TENURE"] == "'1'") | (df["TENURE"] == "'2'")][(df["HHMAR"] == "'1'") | (df["HHMAR"] == "'4'") | (df["HHMAR"] == "'5'") | (df["HHMAR"] == "'6'")]
C:\Users\thewa\AppData\Local\Temp\ipykernel_14512\601052058.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfpet = df[df["PETSHH"] == "'1'"][df["HINCP"] > 0][df["HHAGE"] > 0][(df["NUMYNGKIDS"] > 0) | (df["NUMOLDKIDS"] > 0) | (df["NUMADULTS"] > 0)][(df["TENURE"] == "'1'") | (df["TENURE"] == "'2'")][(df["HHMAR"] == "'1'") | (df["HHMAR"] == "'4'") | (df["HHMAR"] == "'5'") | (df["HHMAR"] == "'6'")]
C:\Users\thewa\AppData\Local\Temp\ipykernel_14512\601052058.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfpet = df[df["PETSHH"] == "'1'"][df["HINCP"] > 0][df["HHAGE"] > 0][(df["NUMYNGKIDS"] > 0) | (df["NUMOLDKIDS"] > 0) | (df["NUMADULTS"] > 0)][(df["TENURE"] == "'1'") | (df["TENURE"] == "'2'")][(df["HHMAR"] == "'1'") | (df["HHMAR"] == "'4'") | (df["HHMAR"] == "'5'") | (df["HHMAR"] == "'6'")]
C:\Users\thewa\AppData\Local\Temp\ipykernel_14512\601052058.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfpet = df[df["PETSHH"] == "'1'"][df["HINCP"] > 0][df["HHAGE"] > 0][(df["NUMYNGKIDS"] > 0) | (df["NUMOLDKIDS"] > 0) | (df["NUMADULTS"] > 0)][(df["TENURE"] == "'1'") | (df["TENURE"] == "'2'")][(df["HHMAR"] == "'1'") | (df["HHMAR"] == "'4'") | (df["HHMAR"] == "'5'") | (df["HHMAR"] == "'6'")]

In [38]:
dfpet

,CONTROL,TOTROOMS,PERPOVLVL,JACPRIMARY,JACSECNDRY,JADEQUACY,JBATHEXCLU,JBATHROOMS,JBEDROOMS,JBLD,...,JJOBDIY23,JJOBFUNDS23,JJOBTYPE23,JJOBWORKYR23,JOBCOMP23,JOBCOMPYR23,JOBDIY23,JOBFUNDS23,JOBTYPE23,JOBWORKYR23
12,'11000022',4,201,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
21,'11000038',4,407,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
34,'11000056',4,262,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
38,'11000064',8,501,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
42,'11000069',7,501,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64106,'11098122',5,501,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
64109,'11098126',4,170,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
64126,'11098164',4,501,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
64132,'11098172',10,501,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
64137,'11098179',5,501,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '

In [54]:
c = 3
def a(b):
    print(c)

a(2)

3

In [73]:
dfpetpet = dfpet[['CONTROL', 'PETSCAT', 'PETSDOG', 'PETSBIRD', 'PETSFISH', 'PETSSMAM', 'PETSREPT']]
dfpetpet['PETSBIRD'] = list(map(eval, list(dfpetpet['PETSBIRD'])))
dfpetpet['PETSFISH'] = list(map(eval, list(dfpetpet['PETSFISH'])))
dfpetpet['PETSSMAM'] = list(map(eval, list(dfpetpet['PETSSMAM'])))
dfpetpet['PETSREPT'] = list(map(eval, list(dfpetpet['PETSREPT'])))
dfpetpet

C:\Users\thewa\AppData\Local\Temp\ipykernel_14512\1430042197.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfpetpet['PETSBIRD'] = list(map(eval, list(dfpetpet['PETSBIRD'])))
C:\Users\thewa\AppData\Local\Temp\ipykernel_14512\1430042197.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfpetpet['PETSFISH'] = list(map(eval, list(dfpetpet['PETSFISH'])))
C:\Users\thewa\AppData\Local\Temp\ipykernel_14512\1430042197.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfpetpet['PETSSMAM'] = list(map(eval, list(dfpetpet['PETSSMAM'])))
C:\Users\thewa\AppData\Local\Temp\ipykernel_14512\1430042197.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfpetpet['PETSREPT'] = list(map(eval, list(dfpetpet['PETSREPT'])))

          CONTROL  PETSCAT  PETSDOG PETSBIRD PETSFISH PETSSMAM PETSREPT
12     '11000022'        3        0        2        2        2        2
21     '11000038'        0        1        2        2        2        1
34     '11000056'        0        1        2        2        2        2
38     '11000064'        0        1        2        2        2        2
42     '11000069'        2        0        2        2        2        1
...           ...      ...      ...      ...      ...      ...      ...
64106  '11098122'        2        1        2        2        2        2
64109  '11098126'        0        1        2        2        2        2
64126  '11098164'        0        1        2        2        2        2
64132  '11098172'        2        0        2        2        2        2
64137  '11098179'        2        2        2        2        2        2

[11126 rows x 7 columns]

In [61]:
knowledgebase = {}
danger = [0.1, 0.1, 0.1, 0.01, 0.01]

def fight(a,b,c,d,e,f):
    wdanger = 0

    newkey = a * 10 ** 5 + b * 10 ** 4 + c * 10 ** 3 + d * 10 ** 2 + e * 10 + f
    if newkey in knowledgebase:
        return(knowledgebase[newkey])
    
    if a > 0:
        key = (a-1) * 10 ** 5 + b * 10 ** 4 + c * 10 ** 3 + d * 10 ** 2 + e * 10 + f
        if key in knowledgebase:
            wdanger = knowledgebase[key] + funx(1, danger, a-1, b, c, d, e, f)[0]
            knowledgebase[newkey] = wdanger
            return(wdanger)
        else:
            wdanger = fight(a-1,b,c,d,e,f) + funx(1, danger, a-1, b, c, d, e, f)[0]
            knowledgebase[newkey] = wdanger
            return(wdanger)

    if b > 0:
        key = a * 10 ** 5 + (b-1) * 10 ** 4 + c * 10 ** 3 + d * 10 ** 2 + e * 10 + f
        if key in knowledgebase:
            wdanger = knowledgebase[key] + funx(2, danger, a, b-1, c, d, e, f)[0]
            knowledgebase[newkey] = wdanger
            return(wdanger)
        else:
            wdanger = fight(a,b-1,c,d,e,f) + funx(2, danger, a, b-1, c, d, e, f)[0]
            knowledgebase[newkey] = wdanger
            return(wdanger)

    if c > 0:
        key = a * 10 ** 5 + b * 10 ** 4 + (c-1) * 10 ** 3 + d * 10 ** 2 + e * 10 + f
        if key in knowledgebase:
            wdanger = knowledgebase[key] + funx(3, danger, a, b, c-1, d, e, f)[0]
            knowledgebase[newkey] = wdanger
            return(wdanger)
        else:
            wdanger = fight(a,b,c-1,d,e,f) + funx(3, danger, a, b, c-1, d, e, f)[0]
            knowledgebase[newkey] = wdanger
            return(wdanger)

    if d > 0:
        key = a * 10 ** 5 + b * 10 ** 4 + c * 10 ** 3 + (d-1) * 10 ** 2 + e * 10 + f
        if key in knowledgebase:
            wdanger = knowledgebase[key] + funx(4, danger, a, b, c, d-1, e, f)[0]
            knowledgebase[newkey] = wdanger
            return(wdanger)
        else:
            wdanger = fight(a,b,c,d-1,e,f) + funx(4, danger, a, b, c, d-1, e, f)[0]
            knowledgebase[newkey] = wdanger
            return(wdanger)

    if e > 0:
        key = a * 10 ** 5 + b * 10 ** 4 + c * 10 ** 3 + d * 10 ** 2 + (e-1) * 10 + f
        if key in knowledgebase:
            wdanger = knowledgebase[key] + funx(5, danger, a, b, c, d, e-1, f)[0]
            knowledgebase[newkey] = wdanger
            return(wdanger)
        else:
            wdanger = fight(a,b,c,d,e-1,f) + funx(5, danger, a, b, c, d, e-1, f)[0]
            knowledgebase[newkey] = wdanger
            return(wdanger)
    
    wdanger = 0
    knowledgebase[newkey] = wdanger
    return(wdanger)

In [86]:
dlist = []
for i in range(len(dfpetpet)):
    dlist.append(fight(dfpetpet.iloc[i][1], dfpetpet.iloc[i][2], int(dfpetpet.iloc[i][3]), int(dfpetpet.iloc[i][4]), int(dfpetpet.iloc[i][5]), int(dfpetpet.iloc[i][5])))

In [87]:
(max(dlist) - np.asarray(dlist))/max(dlist)

array([0.64278346, 0.88261589, 0.88261589, ..., 0.88261589, 0.75877104,
       0.56045404])

In [82]:
dfpetpet["Score"] = (max(dlist) - np.asarray(dlist))/max(dlist)

C:\Users\thewa\AppData\Local\Temp\ipykernel_14512\1059252631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfpetpet["Score"] = (max(dlist) - np.asarray(dlist))/max(dlist)

In [85]:
dfpetpet[["CONTROL", "Score"]].to_excel("Pet Fights.xlsx")